<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 1: Start here... %>
<%= form_tag movies_path, :id => 'ratings_form', :method => :get do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]", rating, @chosenRatings.include?(rating) %>
  <% end %>
  <%= submit_tag 'Refresh',:id => 'ratings_submit', :class => 'btn btn-primary' %>
<% end %>

<br/>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th id="title_header" class="<%= @isClick == 'title' ? 'bg-warning' : 'hilite'  %>"><a href="/?sort=title">Movie Title</a></th>
      <th>Rating</th>
      <th  id="release_date_header" class="<%= @isClick == 'release' ? 'bg-warning' : 'hilite' %>"><a  href="/?sort=release">Release Date</a></th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
